name: Elixir CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        elixir_version: [1.6, 1.7, 1.8, 1.9]

    runs-on: ubuntu-latest
    
    name: mix test ${{ matrix.elixir_version }}

    container:
      image: elixir:${{ matrix.elixir_version }}-alpine

    steps:
    - uses: actions/checkout@v1
    - name: Install Dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
    - name: Check format
      if: matrix.elixir_version == "1.9"
    - name: Run Tests
      run: mix test
